body, html {
    height: 100%;
}
body {
font-family: Arial, sans-serif;
padding: 0px;
margin: 0%;
}
fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
legend {
  font-weight: bold;
  color: #333;
  padding: 0 5px;
}
label {
  display: block;
}
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: rgb(0, 115, 135);
  color: #fff;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgb(0, 83, 98);
}
form {
      padding: 10px;
  }
input[type="text"],
input[type="submit"] {
      padding: 8px;
  }

  .header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 115, 135);
    color: white;
    padding: 10px;
    font-family: sans-serif;
  }

  .back-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin-right: 12px;
    cursor: pointer;
    
  }

  .page-title {
    font-size: 20px;
    font-weight: bold;
  }

  .back-button:hover {
    color: rgb(0, 132, 156);
  }
  
  
footer{
    background-color: rgb(0, 115, 135);
}
.social-logo {
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.social-links a {
    color: inherit; /* Menggunakan warna dari parent element */
    text-decoration: none; /* Menghilangkan garis bawah */
}
.social-links a:visited {
    color: inherit; /* Menggunakan warna dari parent element */
}
.social-links a:hover, a:active {
    text-decoration: underline; /* Menambah garis bawah pada hover dan active */
}

.kontak {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.copyright {
    display: block;
    height: 10px;
    margin-bottom: 30px;
    margin-top: -25px;
    margin-left: 150px;
}